<%= form_with(model: dish, local: true) do |form| %>
  <% if dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
      <% dish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

    <div class="field" id="dishes_ingredients">
      <%= form.fields_for :dishes_ingredients do |ff|  %>
        <%= render 'dishes_ingredient_fields', f: ff %>
      <% end %>
    </div>

  <div class="links">
    <%= link_to_add_association 'Ponele sabor', form, :dishes_ingredients %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
